.nav-dark{
    color: #4C394D;
}

#nav{
    background-color: #3A4D39;
}

#nav h2{
    color: white;
}

#nav ul{
    font-size: 1.5em;
}

#self-portrait{
    border: solid;
    border-width: 2px;
    border-color: #3A4D39;
}

